* {
    padding: 0;
    margin: 0;
  }
  body {
      background-color: black;
      display: flex;
      justify-content: center; 
      align-items: center; 
      height: 100vh; 
  }
  
  .start{
      padding: 100px;
      background-color: #144d03;
      
  }